<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Custom Raytha liquid functions and filters </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="title" content="Custom Raytha liquid functions and filters ">
      
      
      <link rel="icon" href="../favicon.ico">
      <link rel="stylesheet" href="../public/docfx.min.css">
      <link rel="stylesheet" href="../public/main.css">
      <meta name="docfx:navrel" content="../toc.html">
      <meta name="docfx:tocrel" content="toc.html">
      
      
      
      
      <meta name="docfx:docurl" content="https://github.com/RaythaHQ/raytha/blob/main/docfx_project/articles/templates_custom_funcs.md/#L1">
      <meta name="loc:inThisArticle" content="In this article">
      <meta name="loc:searchResultsCount" content="{count} results for &quot;{query}&quot;">
      <meta name="loc:searchNoResults" content="No results for &quot;{query}&quot;">
      <meta name="loc:tocFilter" content="Filter by title">
      <meta name="loc:nextArticle" content="Next">
      <meta name="loc:prevArticle" content="Previous">
      <meta name="loc:themeLight" content="Light">
      <meta name="loc:themeDark" content="Dark">
      <meta name="loc:themeAuto" content="Auto">
      <meta name="loc:changeTheme" content="Change theme">
      <meta name="loc:copy" content="Copy">
      <meta name="loc:downloadPdf" content="Download PDF">

      <script type="module" src="./../public/docfx.min.js"></script>

      <script>
        const theme = localStorage.getItem('theme') || 'auto'
        document.documentElement.setAttribute('data-bs-theme', theme === 'auto' ? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') : theme)
      </script>

  </head>

  <body class="tex2jax_ignore" data-layout="" data-yaml-mime="">
    <header class="bg-body border-bottom">
      <nav id="autocollapse" class="navbar navbar-expand-md" role="navigation">
        <div class="container-xxl flex-nowrap">
          <a class="navbar-brand" href="../index.html">
            <img id="logo" class="svg" src="../logo.svg" alt="">
            
          </a>
          <button class="btn btn-lg d-md-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navpanel" aria-controls="navpanel" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots"></i>
          </button>
          <div class="collapse navbar-collapse" id="navpanel">
            <div id="navbar">
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-xxl">
      <div class="toc-offcanvas">
        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="tocOffcanvas" aria-labelledby="tocOffcanvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="tocOffcanvasLabel">Table of Contents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#tocOffcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <nav class="toc" id="toc"></nav>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="actionbar">
          <button class="btn btn-lg border-0 d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#tocOffcanvas" aria-controls="tocOffcanvas" aria-expanded="false" aria-label="Show table of contents">
            <i class="bi bi-list"></i>
          </button>

          <nav id="breadcrumb"></nav>
        </div>

        <article data-uid="">
<h1 id="custom-raytha-liquid-functions-and-filters">Custom Raytha liquid functions and filters</h1>

<p>The Raytha team has created some custom liquid functions and filters as quality of life enhancements to improve your experience building on top of Raytha. You can also create your own if you are comfortable doing so.</p>
<h2 id="functions">Functions</h2>
<p>Note that every time you call one of these functions, you are making a call to the database, so having many of these run on your template at once may result in performance issues.</p>
<h3 id="get_content_item_by_idcontentitemid">get_content_item_by_id(contentItemId)</h3>
<p>Retrieve details for a single content item by its id.</p>
<p>Example usage:</p>
<pre><code>{% assign other_related_item = get_content_item_by_id(Target.PublishedContent.related_item.PublishedContent.another_related_item)}

{{ other_related_item.PrimaryField }}
</code></pre>
<h3 id="get_content_itemscontenttypedeveloper_name-filterodata-orderbyodata-pagenumber1-pagesize25">get_content_items(ContentType='developer_name', Filter='odata', OrderBy='odata', PageNumber=1, PageSize=25)</h3>
<p>Retrieve the items for the given <code>ContentType</code> (required). The other parameters are optional. You can filter, sort, and paginate on these items by following the OData syntax as described <a href="/articles/templates_odata.html">in OData with Templates</a>.</p>
<p>Example usage:</p>
<pre><code>{% assign filter = &quot;contains(user_guide,'&quot; | append: Target.PrimaryField | append: &quot;')&quot; %}
{% assign items = get_content_items(ContentType='posts', Filter=filter, OrderBy=&quot;order_to_appear_in_user_guide asc&quot;, PageSize=25) %}

{% if items.TotalCount &gt; 0 %}
&lt;div id=&quot;articles&quot;&gt;
    &lt;h2&gt;Table of Contents&lt;/h2&gt;   
    &lt;ol&gt;
    {% for item in items.Items %}
        &lt;li&gt;&lt;a href=&quot;{{ PathBase }}/{{ item.RoutePath }}&quot; target=&quot;_blank&quot;&gt;{{ item.PrimaryField }}&lt;/a&gt;&lt;/li&gt;
    {% endfor %}
    &lt;/ol&gt;
&lt;/div&gt;
{% endif %}
</code></pre>
<h3 id="get_content_type_by_developer_namecontenttypedevelopername">get_content_type_by_developer_name(contentTypeDeveloperName)</h3>
<p>Retrieve details and field definitions of a content type by passing in the content type developer name.</p>
<p>Example usage:</p>
<pre><code>{% assign contentType = get_content_type_by_developer_name('posts') %}
{% assign categoriesField = contentType.ContentTypeFields | where: &quot;DeveloperName&quot;, &quot;categories&quot; | first %}
{% for choice in categoriesField.Choices %}
	&lt;a href=&quot;{{ PathBase }}/{{ category.DeveloperName }}&quot;&gt;{{ choice.Label }}&lt;/a&gt;
{% endfor %}
</code></pre>
<h3 id="get_main_menu-and-get_menudevelopername">get_main_menu() and get_menu('developerName')</h3>
<p>Retrieve the Navigation Menu that is set to the <code>default</code>.</p>
<p>Example usage:</p>
<pre><code>{% assign menu = get_main_menu() %}
&lt;ul class=&quot;navbar-nav me-auto mb-2 mb-lg-0&quot;&gt;
{% for menuItem in menu.MenuItems %}
    {% assign menuLabelDownCase = menuItem.Label | downcase %}
    &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a class=&quot;{{ menuItem.CssClassName }} {% if Target.RoutePath == menuItem.Label or ContentType.DeveloperName == menuLabelDownCase %} active {% endif %}&quot; href=&quot;{{ menuItem.Url }}&quot;&gt;
        {{ menuItem.Label }}
        &lt;/a&gt;
    &lt;/li&gt;
{% endfor %}
&lt;/ul&gt;

{% assign footerMenu = get_menu('footer') %}
...

</code></pre>
<p>The function builds a tree out of the navigation menu so that you can reach child items as well. The model of a menu item object is the following:</p>
<pre><code>string Id
string Label
string Url
bool IsDisabled
bool OpenInNewTab
string? CssClassName
int Ordinal
bool IsFirstItem
bool IsLastItem
IEnumerable&lt;NavigationMenuItem_RenderModel&gt; MenuItems
</code></pre>
<h2 id="filters">Filters</h2>
<h3 id="attachment_redirect_url">attachment_redirect_url</h3>
<p>Output a url that is relative to the current website such as yourdomain.com/raytha/media-items/objectkey/{key}.</p>
<p>Example usage:</p>
<pre><code>{{ Target.PublishedContent.attachment.Value | attachment_redirect_url }}
</code></pre>
<blockquote>
<p>Note: This rendered url does a 302 redirect to the file on the file storage provider and generates a pre-signed or SaS url in the process. This allows your storage bucket to remain completely private. However, if you have a lot of attachment urls on your page, you are increasing the number of requests your website must serve to redirect to these files.</p>
</blockquote>
<h3 id="attachment_public_url">attachment_public_url</h3>
<p>Output the url directly to the file on your file storage provider.</p>
<p>Example usage:</p>
<pre><code>{{ Target.PublishedContent.attachment.Value | attachment_public_url }}
</code></pre>
<blockquote>
<p>Note: These urls will be the direct file on your file storage provider, but does not generate a presigned URL request or SaS url. Therefore, to use this filter, your storage bucket must be set to allow anonymous read-access on blobs.</p>
</blockquote>
<h3 id="raytha_attachment_url-deprecated">raytha_attachment_url (deprecated)</h3>
<p>Renamed to <code>attachment_redirect_url</code>. To be removed in v1.0.6</p>
<h3 id="organization_time">organization_time</h3>
<p>Take the value and convert it to the timezone that is set in the system's organization settings. This is useful when using variables <code>CreationTime</code> and <code>LastModificationTime</code>.</p>
<p>Example usage:</p>
<pre><code>{{{ item.CreationTime | organization_time | date: '%c' }}
</code></pre>
<blockquote>
<p>Note: The above example also uses the <code>date</code> filter which comes with the Fluid parser engine. <a href="https://ruby-doc.org/core-3.0.0/Time.html#method-i-strftime">You can use strftime for formatting</a>.</p>
</blockquote>
<h3 id="groupby-publishedcontentdeveloper_name">groupby: &quot;PublishedContent.developer_name&quot;</h3>
<p>Perform a groupby operation on an array of items, most commonly used with <code>Target.Items</code> and key on the PublishedContent.developer_name attribute. The output will be a dictionary of <code>key</code> and <code>items</code> as demonstrated below.</p>
<p>Example usage:</p>
<pre><code>{% assign grouped_items = Target.Items | groupby: &quot;PublishedContent.developer_name&quot; %}
{% for grouped_item in grouped_items %}
    {{ grouped_item.key }}
    {% for item in grouped_item.items %}
        {{ item.PublishedContent.developer_name.Value }}
    {% endfor %}
{% endfor %}
</code></pre>
<h3 id="json">json</h3>
<p>&quot;Stringify&quot; any of the objects that come out of the rendering engine. This might be useful during development if you are looking to see what the attributes are on the objects so that you can pull them out.</p>
<p>Example usage:</p>
<pre><code>{{ Target | json }}
</code></pre>

</article>

        <div class="contribution d-print-none">
          <a href="https://github.com/RaythaHQ/raytha/blob/main/docfx_project/articles/templates_custom_funcs.md/#L1" class="edit-link">Edit this page</a>
        </div>

        <div class="next-article d-print-none border-top" id="nextArticle"></div>

      </div>

      <div class="affix">
        <nav id="affix"></nav>
      </div>
    </main>


    <footer class="border-top text-secondary">
      <div class="container-xxl">
        <div class="flex-fill">
          <span>Made with <a href="https://dotnet.github.io/docfx">docfx</a></span>
        </div>
      </div>
    </footer>
  </body>
</html>
